<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Eckode / Webpack</title>
    </head>
    <body>
        <p>JavaScript with TypeScript. CSS with SCSS. Built with Webpack. Serving with Webpack-Dev-Server and HMR.</p>
    </body>
</html>
